<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="css/style.css">
  <body>
    <h1>Welcome to your College Finder!</h1>
  <form method = POST action="/questions">
    <input type="submit" value="Click here to begin!">
   
  </form>
 
    

  </body>
</html>
