<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
  <title>Results</title>
   <link href="public/css/style.css" rel="stylesheet">
   
  </head>
  <body>
    <h1>Here are your matched colleges! </h1>
    <% @result.each do |school| %>
    <p><%=school%></p>
    <%end%>
    

    </body>
  </html> 
  
    
    
    
    
   
  
   
  </body>
</html>



   
   