
<h1>Enter your preferences to find your perfect college!</h1>
<form method = "POST" action="/results">
    <h2>What size college would you like?</h2>
    <input type="radio" name="user_size" value="small"> Small<br>
    <input type="radio" name="user_size" value="medium"> Medium<br>
    <input type="radio" name="user_size" value="large"> Large<br> 
    <br>
    <h2>What type of college would you like?</h2>
    <input type="radio" name="user_type" value="public"> Public<br>
    <input type="radio" name="user_type" value="private"> Private<br>
    <br>
    <h2>What is the ideal location for your college?</h2>
    <input type="radio" name="user_location" value="city"> City<br>
    <input type="radio" name="user_location" value="suburban"> Suburban<br>
    <br>
    <h2>How selective do you want your future college to be?</h2>
    <input type="radio" name="user_acceptance" value="very_selective"> Very Selective<br>
    <input type="radio" name="user_acceptance" value="selective"> Selective<br>
    <input type="radio" name="user_acceptance" value="not_very_selective"> Not Very Selective<br>
    <br>
    <input type="submit" value="Get your colleges!">
</form>